@import url(https://fonts.googleapis.com/css?family=Exo:100);
@font-face {
  font-family: 'IM-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IM-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: 'IM-Regular';
  font-size: 24px;
  font-weight: 700;
  box-sizing: border-box;
  overflow: hidden;
} 
@media (max-width: 800px) {
  html {
    font-size: 16px;
  }
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
h2 {
  margin: 0;
}
*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
*::-webkit-scrollbar {
	width: 12px;
  height: 12px;
	background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
